<div class="container" id="centre">     
        
    <div class="row"></div>
    <!-- <div class="row center" style="height:300px; width: auto;"> -->
        <h1>Welcome User <%= name %></h1>
    </div>
