<form>
    <div class="input-field">
        <input type="text" id="username" class="validate" kl_vkbd_parsed="true">
        <label for="username">Username</label>
    </div>
    <div class="input-field">
        <input type="text" id="password" class="password" kl_vkbd_parsed="true">
        <label for="password">password</label>
    </div>
    <a href="#!">Forgot Password?</a>
    <br>
    <br>
    <div>
        <input type="submit" class="btn right" value="Log In" kl_vkbd_parsed="true">
        <a href="index.html" class="btn-flat">Back</a>
    </div>
</form>