.helloInput {
  width: 200px;
}

.title{
  color: white;
  display: inline-block;
  
  
}
.mainText{
  color:white;
}

#centre{
  text-align: center;
}
#testLogin{
  padding:0px 23px; 
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* background-color: #009688; */
  

}

.page-footer{
  background-color: #009688;
  
}
main {
  flex: 1 0 auto;
}

nav .nav-wrapper {
  position: relative;
  height: 100%;
  background-color: #009688 !important;
}

.center_div{
  /* value of your choice which suits your alignment */
  min-height: 100vh;
}
.viewport{
  height: 80vh;
}
.section{
  display: grid;
  /* justify-content: center; */
  align-content: center;
}
.col-6.viewport.section{
  padding: inherit;
}

@media (min-width: 576px) {
  .container{
      max-width:100% !important;
      padding-left:0px;
      padding-right:0px;

  }
  
}